<div class="container">
  <h1>Liste des events:</h1>
  <div class="mb-5 float-right">
    <input type="button" class="btn btn-primary "  value="ajouter un evenement" (click)="AddEvent()" />
  </div>
  <div class="row">
  <div class="card col-3 ml-3" style="width: 18rem;" *ngFor="let event of eventsList">
    <img src="assets/event.png" class="card-img-top" alt="Event picture">
    <div class="card-body">
      <h5 class="card-title">{{event.title}}</h5> 
      <p class="card-text">{{event.organisateur}}</p>
      <p class="card-text">{{event.description}}</p>
      <p class="card-text">{{event.dateBegin}}</p>
    <p class="card-text">{{event.dateEnd}}</p> 
      <a href="#" class="btn btn-info  ml-3"  >Edit</a>
      <a href="#" class="btn btn-danger ml-3" (click)="ondeleteEvent(event.indice)">Delete</a>
      
  
    </div>
  </div>
  </div>
  <app-add-event ></app-add-event>
  </div>